@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  --font-paragraph: 16px;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  pointer-events: none;
}

article {
  background-color: var(--white);
  padding: 20px;
  max-width: 380px;
  border: 1px solid var(--gray-950);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  animation: appear-card 0.6s ease-in-out both;
}

.illustration {
  width: 100%;
  border-radius: 15px;
}

.tag {
  background-color: var(--yellow);
  padding: 8px 12px;
  color: var(--gray-950);
  font-weight: 800;
  border-radius: 5px;
}

.date {
  color: var(--gray-950);
  font-size: var(--font-paragraph);
  font-weight: 500;
}

.heading {
  color: var(--gray-950);
  font-size: 1.5em;
  font-weight: 800;
  cursor: pointer;
}

.heading:hover {
  color: var(--yellow);
  transition-duration: 0.2s;
}

.info {
  color: var(--gray-500);
  font-size: var(--font-paragraph);
  font-weight: 500;
  line-height: 1.5;
}

.author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.avatar {
  width: 35px;
  height: 35px;
}

.name {
  color: var(--gray-950);
  font-weight: 800;
}

@keyframes appear-card {
  0% {
    opacity: 0;
    box-shadow: 0 0 var(--gray-950);
    transform: translateY(50px);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 var(--gray-950);
    transform: translateX(0) translateY(0);
  }
  100% {
    opacity: 1;
    box-shadow: 8px 8px var(--gray-950);
    transform: translateX(-8px) translateY(-8px);
  }
}
