:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);

  --fs-base: clamp(0.875rem, 2.5vw, 1rem);
  --fs-heading: clamp(1.35rem, 2.5vw, 1.5rem);

  --fw-medium: 500;
  --fw-extrabold: 800;

  --font-figtree: "Figtree", sans-serif;
  --card-container: clamp(22rem, 40vw, 23.75rem);
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: var(--font-figtree);
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;

  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  line-height: 1.5;
  color: var(--color-gray-950);
  background-color: var(--color-yellow);
}

main {
  max-width: var(--card-container);
  padding: 1.5rem;
  border-radius: 1.25rem;
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;

  border: 1px solid var(--color-gray-950);
  animation: appear-card 0.6s ease-in-out both;
}

.blog-illustration {
  width: 100%;
  border-radius: 0.625rem;
  pointer-events: none;
}

.blog-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
}

.category {
  background-color: var(--color-yellow);
  padding: 0.25rem 0.75rem;
  font-weight: var(--fw-extrabold);
  border-radius: 0.25rem;
}

.heading {
  font-size: var(--fs-heading);
  font-weight: var(--fw-extrabold);
  cursor: pointer;
  transition-duration: 0.4s;
}

.heading:hover {
  color: var(--color-yellow);
}

.paragraph {
  color: var(--color-gray-500);
}

.blog-author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.avatar {
  width: 36px;
  height: 36px;
}

.name {
  font-weight: var(--fw-extrabold);
}

@keyframes appear-card {
  0% {
    opacity: 0;
    box-shadow: 0 0 var(--color-gray-950);
    transform: translate3d(0, 50px, 0);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 var(--color-gray-950);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    box-shadow: 8px 8px var(--color-gray-950);
    transform: translate3d(-8px, -8px, 0);
  }
}
